<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.spring.infrastructure.mybatis.mapper.CommentReactionMapper">
    <insert id="insert">
        insert into comment_reactions (comment_id, user_id, reaction_type, created_at)
        values (#{reaction.commentId}, #{reaction.userId}, #{reaction.reactionType}, #{reaction.createdAt})
    </insert>

    <update id="update">
        update comment_reactions
        set reaction_type = #{reaction.reactionType}, created_at = #{reaction.createdAt}
        where comment_id = #{reaction.commentId} and user_id = #{reaction.userId}
    </update>

    <delete id="delete">
        delete from comment_reactions
        where comment_id = #{reaction.commentId} and user_id = #{reaction.userId}
    </delete>

    <select id="find" resultMap="commentReaction">
        select
          CR.comment_id commentReactionCommentId,
          CR.user_id commentReactionUserId,
          CR.reaction_type commentReactionType,
          CR.created_at commentReactionCreatedAt
        from comment_reactions CR
        where CR.comment_id = #{commentId} and CR.user_id = #{userId}
    </select>

    <resultMap id="commentReaction" type="io.spring.core.comment.CommentReaction">
        <result column="commentReactionCommentId" property="commentId"/>
        <result column="commentReactionUserId" property="userId"/>
        <result column="commentReactionType" property="reactionType"/>
        <result column="commentReactionCreatedAt" property="createdAt"/>
    </resultMap>
</mapper>
