<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="false" thread-count="1">
    
    <listeners>
        <listener class-name="io.spring.selenium.listeners.TestListener"/>
    </listeners>
    
    <test name="Validation Error Tests">
        <classes>
            <class name="io.spring.selenium.tests.ValidationErrorPositiveTests"/>
            <class name="io.spring.selenium.tests.ValidationErrorRegistrationTests"/>
            <class name="io.spring.selenium.tests.ValidationErrorLoginTests"/>
            <class name="io.spring.selenium.tests.ValidationErrorArticleTests"/>
            <class name="io.spring.selenium.tests.ValidationErrorSettingsTests"/>
            <class name="io.spring.selenium.tests.ValidationErrorEdgeCaseTests"/>
        </classes>
    </test>
    
</suite>
