<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="false" thread-count="1">
    
    <listeners>
        <listener class-name="io.spring.selenium.listeners.TestListener"/>
    </listeners>
    
    <test name="All Tests">
        <packages>
            <package name="io.spring.selenium.tests.*"/>
        </packages>
    </test>
    
</suite>
