<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" parallel="classes" thread-count="2">
    
    <listeners>
        <listener class-name="io.spring.selenium.listeners.TestListener"/>
    </listeners>
    
    <test name="Setup Verification">
        <classes>
            <class name="io.spring.selenium.tests.SeleniumSetupTest"/>
        </classes>
    </test>
    
    <test name="Comment Positive Tests">
        <classes>
            <class name="io.spring.selenium.tests.CommentPositiveTests"/>
        </classes>
    </test>
    
    <test name="Comment Validation Tests">
        <classes>
            <class name="io.spring.selenium.tests.CommentValidationTests"/>
        </classes>
    </test>
    
    <test name="Comment Error Tests">
        <classes>
            <class name="io.spring.selenium.tests.CommentErrorTests"/>
        </classes>
    </test>
    
    <test name="Comment Edge Case Tests">
        <classes>
            <class name="io.spring.selenium.tests.CommentEdgeCaseTests"/>
        </classes>
    </test>
    
</suite>
